*{
    margin: 0;
    padding: 0;

}

.container{
    height: 100vh;
    width: 100vw;
    background-color: #212121;
    display: flex;
    justify-content: center;
    align-items: center;
}
.outer{
    width: 50%;
    height: 70%;
    background-color: rgb(88, 241, 241);
    border: 5px solid rgb(0, 0, 0);
    box-sizing: border-box;
}
.screen{
    width: 96%;
    height: 26%;
    background-color: white;
    padding:2%;
    border-bottom: 2px solid black;
}
.input_screen{
    width: 100%;
    height: 50%;
    background-color: lightgray;
    margin-bottom: 2%; 
    border: 1px solid black; 
    align-content: center;

}
#input{
    display: inline-block;
    width: 100%;
    white-space: nowrap;
    overflow-x: scroll;
    scrollbar-width: none;
    font-size: 1.2rem;

}
.outer_screen{
    width: 100%;
    height: 35%;
    direction: rtl;
    display: inline-flex;
}
.brand{
    width: 50%;
    height: 100%;
    margin-bottom: 2%;
    direction: ltr;
    font-size: 1.2rem;
}
.result{
    width: 50%;
    height: 100%;
    background-color: rgb(220, 248, 223);
    margin-bottom: 2%;
    border: 1px solid black;
}
#result{
    display: inline-block;
    width: 100%;
    white-space: nowrap;
    overflow-x: scroll;
    scrollbar-width: none;
    font-size: 1.2rem;

}
.button_container{
    width: 100%;
    height: 71%;
    background-color: gray;
    
}
.button{
    width: 18%;
    aspect-ratio: 1 / 1;
    margin: 3% 1% 1% 4%;
    background-color: lightgray;
    border: 2px solid black;
    display: inline-flex;
    font-size: 1.2rem;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    box-shadow: inset 0 0 15px rgba(0,0,0,0.5);
}
.button:hover{
    background-color: darkgray;
    cursor: pointer;
}
#C{
    background-color: red;
    color: white;
}
#C:hover{
    background-color: darkred;
}