body{
    margin: 0;
    padding: 0;

}

.container{
    height: 100vh;
    width: 100vw;
    background-color: #212121;
    display: flex;
    justify-content: center;
    align-items: center;
}
.outer{
    height:75%;
    width: 50%;
    background-color: aqua;
    border: 2px solid rgb(225, 25, 25);
    
}
.screen{
    width:96%;
    height:20%;
    background-color: white;
    padding:2%;
    border-bottom: 2px solid black;
}
.input_screen{
    width: 100%;
    height: 50%;
    background-color: lightgray;
    direction: rtl;
    margin-bottom: 2%;  
}
.outer_screen{
    width: 100%;
    height: 40%;
    direction: rtl;
    display: inline-flex;
}
.brand{
    width: 50%;
    height: 100%;
    margin-bottom: 2%;
    direction: ltr;
    font-size: 1.5rem;
}
.result{
    width: 50%;
    height: 100%;
    background-color: rgb(228, 57, 5);
    margin-bottom: 2%;
    
}
.buttons{
    width: 100%;
    height: 70%;
    background-color: gray;

.button{
    width: 20%;
    aspect-ratio: 1 / 1;
    background-color: lightgray;
    border: 1px solid black;
    display: inline-flex;
    font-size: 1.5rem;
    justify-content: space-around;
}